.left_profile {
    position: absolute;
    left: 48px;
    height: 0;
}

.right_profile {
    position: absolute;
    left: 480px;
    height: 0;
}

.infomation {
    background: #327373;
    width: 322px;
    height: 415px;
    position: relative;
    position: absolute;
    bottom: 119px;
    left: 28px;
}

.user_name {
    color: #327373;
    font-weight: bold;
}

.mail {
    background: url("../images/icon/mail.png") no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 63px;
    width: 63px;
    top: 16px;
    left: 27px;
}

.cv {
    background: url("../images/icon/cv.png") no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 63px;
    width: 63px;
    bottom: 39px;
    left: 27px;
}

.btn_cv {
    position: absolute;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    text-align: center;
    text-decoration: underline;
    font-size: 17.19px;
    font-family: 'MuseoSans', sans-serif;
    line-height: 1.369;
    cursor: pointer;
    margin-top: 115px;
    left: 110px;
}

.btn_cv:hover {
    color: blue
}

.btn_cv_export {
    position: absolute;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    text-align: center;
    text-decoration: underline;
    font-size: 17.19px;
    font-family: 'MuseoSans', sans-serif;
    line-height: 1.369;
    cursor: pointer;
    left: 110px;
    margin-top: 150px;
}

.btn_cv_export:hover {
    color: blue
}

.linkedin {
    background: url("../images/icon/linkein.png") no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 63px;
    width: 63px;
    top: 214px;
    left: 27px;
}

.skype {
    background: url("../images/icon/skype.png") no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 63px;
    width: 63px;
    top: 116px;
    left: 27px;
}

.text_profile {
    position: absolute;
    left: 111px;
    top: 34px;
    color: white;
}

.text_profile1 {
    position: absolute;
    left: 111px;
    top: 136px;
    color: white;
}

.text_profile2 {
    position: absolute;
    left: 111px;
    top: 237px;
    color: white;
    text-decoration: underline;
    word-wrap: break-word;
    width: 200px;
}

.text_profile3 {
    position: absolute;
    left: 111px;
    top: 335px;
    color: white;
    text-decoration: underline;
    word-wrap: break-word;
    width: 200px;
}

.profile_infomation {
    position: relative;
    background: #115d5d;
    width: 376px;
    height: 979px;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    display: table-cell;
}

.image_pro {
    position: relative;
    position: absolute;
    width: 207px;
    height: 333px;
    background: white;
    left: 85px;
    top: 29px;
}

.since_date {
    margin-top: 340px;
    color: white;
    text-align: center;
}

.name_profile {
    position: absolute;
    top: 211px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.image {
    background: url("../images/icon/image.png") no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 175px;
    width: 175px;
    top: 16px;
    left: 16px;
}

.edit_user {
    background: url(../images/icon/edit.png) no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 41px;
    width: 41px;
    left: 170px;
    bottom: 49px;
    cursor: pointer;
}

.button_profile {
    background: url(../images/icon/edit.png) no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 27px;
    width: 27px;
    top: 29px;
    left: 305px;
    cursor: pointer;
    /* z-index: 1; */
}

.main_sidebar {
    position: absolute;
    /* margin-top: 35px; */
    top: 0;
    left: -15px;
    width: 250px;
    height: 100%;
    background: #1d9c9c;
    z-index: 5;
}

/* BIO */
article {
    height: 880px;
    width: 638px;

}

.bio {
    position: relative;
    width: 687px;
    height: 207px;
    background-color: #1d9c9c;
    padding: 80px 40px 40px 50px;
    color: white;
}

.text_bio {
    position: absolute;
    font-size: 36px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(249, 249, 249);
    font-weight: bold;
    font-style: italic;
    left: 40px;
    top: 20px;
}

.edit {
    background: url("../images/icon/edit.png") no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 29px;
    width: 29px;
    left: 80px;
    top: 4px;
    cursor: pointer;
}

.corner1 {
    background: url(../images/icon/corner1.png) no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 32px;
    width: 32px;
    right: 32px;
    top: 70px;
}

.corner2 {
    background: url(../images/icon/corner2.png) no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 32px;
    width: 32px;
    left: 39px;
    bottom: 24px;
}

.space {
    height: 17px;
    background-color: #f9f9f9;
}

/* SKILL */

.skill {
    position: relative;
    margin-top: 17px;
    width: 687px;
    height: 160px;
    background-color: #1d9c9c;
    padding: 0 30px;
    padding-top: 70px;
    padding-bottom: 10px;
}

.text_skill {
    position: absolute;
    font-size: 36px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(249, 249, 249);
    font-weight: bold;
    font-style: italic;
    left: 40px;
    top: 20px;
    /* z-index:1; */
}

.edit_skill {
    background: url("../images/icon/edit.png") no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 29px;
    width: 29px;
    left: 140px;
    top: 5px;
    cursor: pointer;
}

.line1 {
    background: url("../images/icon/line.png") no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    width: 3px;
    left: 265px;
    top: 70px;
    bottom: 38px;
}

.line2 {
    background: url("../images/icon/line.png") no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    width: 3px;
    left: 635px;
    top: 70px;
    bottom: 38px;
    margin-left: 20px;
}

/* PROJECT */
.project {
    position: relative;
    margin-top: 17px;
    width: 687px;
    height: 213px;
    background-color: #1d9c9c;
    padding-left: 32px;
    padding-top: 70px;
    padding-bottom: 10px;
}

.text_project {
    position: absolute;
    font-size: 36px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(249, 249, 249);
    font-weight: bold;
    font-style: italic;
    left: 40px;
    top: 20px;
}

.edit_pro {
    background: url("../images/icon/edit.png") no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 29px;
    width: 29px;
    left: 355px;
    top: 5px;
    cursor: pointer;
}

.project_profile {
    position: relative;
    background: #f9f9f9;
    color: #039191;
    box-shadow: 3px 3px #6bbdbd;
    margin: 5px;
    display: inline-grid;
    text-align: center;
    width: 230px;
    min-height: 36px;
    word-break: break-word;
}

.full_project {
    margin-top: 10px;

}

.star_project {
    color: #33a5a5;
}

.center_project {
    font-weight: bold;
}

.manaty_see_project {
    display: -webkit-inline-box;
    text-decoration: underline;
    cursor: pointer;
}

.manaty_see_project:hover {
    color: blue;
}

/* AVAILABILITY */

.availability {
    position: relative;
    margin-top: 17px;
    max-width: 687px;
    height: 301px;
    background-color: #1d9c9c;
    word-wrap: break-word;
    z-index: 0;
    padding: 20px 10px 20px 90px;
}

.text_availability {
    position: absolute;
    font-size: 33px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(249, 249, 249);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    transform: rotate(-90deg);
    top: 155px;
    left: -80px;
}

.edit_avai {
    background: url("../images/icon/edit.png") no-repeat scroll 0 0 / 100% 100%;
    position: absolute;
    height: 29px;
    width: 29px;
    left: 240px;
    top: 3px;
    cursor: pointer;
}

.availability_in {
    position: absolute;
    /* width:623px; */
    background-color: #b7dddd;
    left: 64px;
    top: 13px;
    padding-top: 10px;
    padding-left: 35px;
    z-index: -1;
    bottom: 13px;
    right: 0;
}

.availability_inin {
    background-color: white;
    position: absolute;
    width: 16px;
    left: 64px;
    top: 13px;
    z-index: 0;
    bottom: 13px;
}

.hours_title {
    font-weight: bold;

}

.hour {
    color: #125e5e;
    margin-bottom: 20px;

}

.infos_title {
    font-weight: bold;
    /* z-index: 1; */
}

.infos {
    color: #125e5e;
    margin-bottom: 20px;
    z-index: 1;
    z-index: 1;
}

.time_title {
    font-weight: bold;
}

.time {
    color: #125e5e;
    margin-bottom: 20px;
}

.vacation_title_pro {
    position: absolute;
    font-weight: bold;
    color: white;
    margin-left: 28px;
    margin-top: 40px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(249, 249, 249);
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
}

.vacation_title {
    font-weight: bold;
}

.vacation {
    color: #125e5e;
}

.vocation_list {
    display: inline-table;
}

.table_profile {
    width: 840px;
    margin-top: 30px;
    float: left;
    margin-left: -30px;
}

.see_more {
    color: white;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.row {
    position: relative;
    margin: 0;
    /* padding: 0; */
    /*margin-left:300px;*/
    position: relative;
}

.white_infomation {
    background-color: white;
    position: absolute;
    height: 16px;
    width: 322px;
    bottom: 0;
}

.white_profile {
    background-color: #1d9c9c;
    position: absolute;
    height: 12px;
    width: 207px;
    bottom: 0;
}

.white_menu {
    background-color: #1d9c9c;
    position: absolute;
    width: 20px;
    left: 309px;
    top: 0;
    bottom: 0;
}

.tabsli a {
    font-weight: 500;
}

.tabsli {
    padding-left: 18px;
}

.color_profile {
    background-color: #1d9c9c;
    height: 32px;
    width: 1200px;
    position: absolute;
    bottom: -50px;
    right: -3px;
}

.line_header {
    position: absolute;
    width: 89%;
    top: 60px;
    left: 90px;
    background-color: #002050;
    height: 2px;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 10px;
    border: 0;
    border-top: 1px solid rgba(0, 32, 80, .1);
    box-sizing: content-box;
}

.name_header {
    position: absolute;
    top: 55px;
    font-size: 32.25px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(15, 80, 80);
    line-height: 1.2;
    font-style: italic;
    left: 2px;
}

.display_skill {
    display: inherit;
    word-break: break-word;
}

/*POPUP BIO*/

.popup_bio {
    position: relative;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
    z-index: 1;
    width: 697px;
    height: 400px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.popup_mission_remove {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
    z-index: 1;
    width: 600px;
    height: 250px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.close_bio {
    background: url("../images/icon/close.png") no-repeat scroll 0 0 / 100% 100%;
    height: 40px;
    width: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
}

.input_bio {
    color: #1d9c9c;
    font-family: 'MuseoSans', sans-serif;
    font-size: 20px;
}

.header_bio {
    background-color: #1d9c9c;
    color: white;
    padding: 8px;
    height: 61px;
    text-align: center;
    font-size: 35.47px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(249, 249, 249);
}

.footer_bio {
    background-color: #1d9c9c;
    color: white;
    padding: 8px;
    height: 61px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer_mission_remove {
    color: white;
    padding: 8px;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.btn_bio {
    position: relative;
    background: #f9f9f9;
    color: #039191;
    box-shadow: 3px 3px #6bbdbd;
    margin: 5px;
    display: inline-grid;
    text-align: center;
    width: 91px;
    height: 35px;
    font-size: 22.58px;
    font-family: 'MuseoSans', sans-serif;
    cursor: pointer !important;
}

.btn_mission_remove {
    position: relative;
    background: #039191;
    color: white;
    box-shadow: 3px 3px #6bbdbd;
    margin: 5px;
    display: inline-grid;
    text-align: center;
    width: 91px;
    height: 35px;
    font-size: 22.58px;
    font-family: 'MuseoSans', sans-serif;
    cursor: pointer !important;
    left: -20px;
}

.btn_mission_cancel {
    position: relative;
    background: #039191;
    color: white;
    box-shadow: 3px 3px #6bbdbd;
    margin: 5px;
    display: inline-grid;
    text-align: center;
    width: 91px;
    height: 35px;
    font-size: 22.58px;
    font-family: 'MuseoSans', sans-serif;
    cursor: pointer !important;
    left: 20px;
}

.display_title {
    color: #039191;
    text-align: center;
    height: 35px;
    font-size: 22.58px;
    font-family: 'MuseoSans', sans-serif;
    cursor: pointer !important;
    left: 50px;
    margin-top: -50px !important;
}

/*POPUP SKILL*/
.top5_skill {

    color: #039191;
    border-bottom: 2px solid #039191;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 20px;
}

.popup_skill {
    position: relative;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
    z-index: 1;
    width: 697px;
    height: 750px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.close_skill {
    background: url("../images/icon/close.png") no-repeat scroll 0 0 / 100% 100%;
    height: 40px;
    width: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
}

.header_skill {
    background-color: #1d9c9c;
    color: white;
    padding: 8px;
    height: 61px;
    text-align: center;
    font-size: 35.47px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(249, 249, 249);
}

.footer_skill {
    background-color: #1d9c9c;
    color: white;
    padding: 8px;
    height: 61px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn_skill {
    position: relative;
    background: #f9f9f9;
    color: #039191;
    box-shadow: 3px 3px #6bbdbd;
    margin: 5px;
    display: inline-grid;
    text-align: center;
    width: 91px;
    height: 35px;
    font-size: 22.58px;
    font-family: 'MuseoSans', sans-serif;
}

.names_skill {
    font-size: 29.03px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    margin-left: 30px;
}

.add_skill {
    background: #1d9c9c;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px #6bbdbd;
    margin: 5px;
    display: inline-grid;
    width: 91px;
    height: 35px;
    font-size: 22.58px;
    font-family: 'MuseoSans', sans-serif;
    margin-left: 130px;
    cursor: pointer !important;
}

.stars_skill {
    position: relative;
    font-size: 40px;
    left: 140px;
    top: 10px;
}

.hideScrollBar::-webkit-scrollbar {
    border-radius: 5px;
    width: 12px;
    background-color: #67e5e5;
}

.hideScrollBar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
}

.hideScrollBar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}

.left_skill {
    border-right: 4px solid #1d9c9c;
    height: 585px;
}

.right_skill {

}

.name_skill {
    text-align: center;
    font-size: 35.47px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);

}

.longText {
    position: absolute;
    width: 93%;
    height: 500px;
    border-radius: 2px;
    text-align: justify;
    top: 80px;
}

#NOThidingScrollBar {
    overflow-y: scroll;
}

/*------THE TRICK------*/
#hidingScrollBar {
    overflow: hidden;

}

.hideScrollBar {
    width: 100%;
    height: 100%;
    overflow: auto;
    /* padding-top:20px; */
    padding-bottom: 20px;
}

.li_skill_profile {
    line-height: 1.1;

}

.name_new_skill {
    text-align: center;
    font-size: 35.47px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    font-weight: bold;
    font-style: italic;
}

.proficiency {
    position: absolute;
    font-size: 24.72px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    font-weight: bold;
    font-style: italic;
    left: 15px;
    top: 140px;
}

.ip_skill {
    width: 231px;
    height: 34px;
    margin-left: 45px;
    margin-top: 15px;
    color: #1d9c9c;
    border: 1px solid #1d9c9c !important;
    padding-left: 10px;
}

.empty_skills {
    background: url(../images/icon/empty_skill.png) no-repeat scroll 0 0 / 100% 100%;
    float: left;
    height: 30px;
    width: 25px;
    position: relative;
    /*margin-left: -20px;*/
    border: none;
}

.move_up {
    background: url(../images/icon/move_skill.png) no-repeat scroll 0 0 / 100% 100%;
    height: 30px;
    width: 30px;
    position: relative;
    float: left;
    margin-bottom: -13px;
    margin-left: 5px;
    cursor: pointer;
}

.wen_skill {
    background: url("../images/icon/wen.png") no-repeat scroll 0 0 / 100% 100%;
    height: 25px;
    width: 30px;
    position: absolute;
    top: 90px;
    left: 45px;
}

::placeholder {
    color: #1d9c9c;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1d9c9c;
}

:-ms-input-placeholder { /* Microsoft Edge */
    color: #1d9c9c;
}

.star {
    font-size: 40px;
    margin-left: 65px;
}

/*POPUP PROJECTT*/

.popup_projects {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
    z-index: 1;
    width: 697px;
    height: 707px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.close_project {
    background: url("../images/icon/close.png") no-repeat scroll 0 0 / 100% 100%;
    height: 40px;
    width: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
}

.header_projects {
    background-color: #1d9c9c;
    color: white;
    padding: 8px;
    height: 61px;
    text-align: center;
    font-size: 35.47px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(249, 249, 249);
}

.footer_projects {
    background-color: #1d9c9c;
    color: white;
    padding: 8px;
    height: 61px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn_project {
    position: relative;
    background: #f9f9f9;
    color: #039191;
    box-shadow: 3px 3px #6bbdbd;
    margin: 5px;
    display: inline-grid;
    text-align: center;
    width: 91px;
    height: 35px;
    font-size: 22.58px;
    font-family: 'MuseoSans', sans-serif;
}

.add_project {
    background: #1d9c9c;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px #6bbdbd;
    margin: 5px;
    display: inline-grid;
    width: 91px;
    height: 35px;
    font-size: 22.58px;
    font-family: 'MuseoSans', sans-serif;
    margin-left: 110px;
    margin-top: 20px;
    cursor: pointer !important;
}

.hideScrollBar_project::-webkit-scrollbar {
    border-radius: 5px;
    width: 12px;
    background-color: #67e5e5;
}

.hideScrollBar_project::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
}

.hideScrollBar_project::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}

.left_project {
    border-right: 4px solid #1d9c9c;
    height: 585px;
}

.right_project {

}

.names_project {
    font-size: 29.03px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    margin-left: 30px;
}

.role_projects {
    font-size: 29.03px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    margin-left: 65px;
    font-style: italic;
}

.longText_project {
    position: absolute;
    width: 320px;
    height: 520px;
    border-radius: 2px;
    text-align: justify;
    top: 80px;
}

#NOThidingScrollBar {
    overflow-y: scroll;
}

/*------THE TRICK------*/
#hidingScrollBar_project {
    overflow: hidden;

}

.hidingScrollBar_project {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-right: 14px;
    padding-right: 28px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.name_new_project {
    text-align: center;
    font-size: 35.47px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    font-weight: bold;
    font-style: italic;
}

.empty_project {
    background: url(../images/icon/empty_skill.png) no-repeat scroll 0 0 / 100% 100%;
    float: left;
    height: 30px;
    width: 25px;
    position: relative;
    margin-left: 10px;
}

.input_projects {
    width: 75%;
    height: 40px;
    margin-left: 40px;
    margin-top: 15px;
    /* box-shadow: 0 0 10px #1d9c9c; */
    /* color:#1d9c9c; */
}

.names_ {
    font-size: 29.03px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    margin-left: 30px;
}

/*POPUP AVAILABILITY*/

.popup_availability {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
    width: 697px;
    height: 707px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    color: #039191;
    z-index: 1;
}

.close_availability {
    background: url("../images/icon/close.png") no-repeat scroll 0 0 / 100% 100%;
    height: 40px;
    width: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
}

.header_availability {
    background-color: #1d9c9c;
    color: white;
    padding: 8px;
    height: 61px;
    text-align: center;
    font-size: 35.47px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(249, 249, 249);
}

.footer_availability {
    background-color: #1d9c9c;
    color: white;
    padding: 8px;
    height: 61px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn_availability {
    position: relative;
    background: #f9f9f9;
    color: #039191;
    box-shadow: 3px 3px #6bbdbd;
    margin: 5px;
    display: inline-grid;
    text-align: center;
    width: 91px;
    height: 35px;
    font-size: 22.58px;
    font-family: 'MuseoSans', sans-serif;
}

.name_project {
    text-align: center;
    font-size: 35.47px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
}

.li_project {
    line-height: 1.1;

}

.name_new_project {
    text-align: center;
    font-size: 35.47px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    font-weight: bold;
    font-style: italic;
}

.input_projects {
    width: 231px;
    height: 34px;
    margin-top: 15px;
    color: #1d9c9c;
    padding-left: 10px;
    border: 1px solid #1d9c9c !important;
}

.select_pro_profile {
    margin-left: 40px;
    height: 34px;
    width: 231px;
    /* box-shadow: 0 0 10px #1d9c9c; */
    color: #1d9c9c;
}

.longText_voca {
    position: absolute;
    margin-top: -30px;
    margin-bottom: 10px;
    line-height: 2;
    height: 300px;
    width: 260px;
    right: 50px;
}

.label_popup {
    margin-left: 20px;
    font-size: 24.72px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    font-weight: bold;
    font-style: italic;
}

.avai_input {
    width: 50px;
    height: 34px;
    margin-left: 10px;
    margin-top: 15px;
    color: #1d9c9c;
    border: 1px solid #1d9c9c !important;
}

.avai_popup {
    resize: none;
    width: 95%;
    margin-left: 20px;
    border: 1px solid #1d9c9c !important;
}

.avai_select {
    margin-left: 20px;
    height: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1d9c9c;
    border: 1px solid #1d9c9c !important;
}

.input_vacation {
    width: 170px;
    height: 34px;
    margin-left: 10px;
    margin-top: 15px;
    color: #1d9c9c;
    border: 1px solid #1d9c9c !important;
    padding-left: 5px;
}

.date_picker {
    position: fixed;
    bottom: 50px;
    left: 0px;
    right: 200px;
    margin: auto;
    text-align: center;
    z-index: 1;
    width: 320px;
}

.calendar_icon {
    position: relative;
    color: #1d9c9c;
    margin-top: -39px;
    margin-left: 330px;
    cursor: pointer;
}

.empty_availability {
    background: url(../images/icon/empty_skill.png) no-repeat scroll 0 0 / 100% 100%;
    float: right;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
}

/*POPUP PROFILE*/
.label_profile {
    left: 2.3em;
    font-size: 24.72px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    font-weight: bold;
    font-style: italic;
    margin-right: 32px;
    margin-top: 10px;
    padding: 8px 0;
}

.edit_profile {
    margin-left: 20px;
}

.calendar {
    position: relative;
    width: 623px;
    height: 312px;
    background-color: #8bcbcb;
    margin-left: -26px;
    margin-bottom: -7px;

}

.calendar_profile {
    margin-left: 200px;
}

.ip_profile {
    width: 100%;
    margin-left: -30px;
    margin-top: 10px;
    padding: 2px 10px;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid;
    height: 35px;
    /* box-shadow: 0 0 5px #1d9c9c; */
    color: #1d9c9c;
    border: 1px solid #1d9c9c !important;
}

.ip_picker input {
    width: 100%;
    margin-left: -30px;
    margin-top: 10px;
    padding: 2px 10px;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid;
    height: 35px;
    /* box-shadow: 0 0 5px #1d9c9c; */
    color: #1d9c9c;
    border: 1px solid #1d9c9c !important;
}

.ip_picker .ip_picker input {
    padding: 2px 2px !important;
}

.ip_picker .input-group-addon:last-child {
    margin-left: -30px;
}

.select_popup_country .Select-control {
    width: 300px;
}

.ip_fromDate {
    position: relative;
    right: 13px;
}

.ip_toDate {
    position: relative;
    right: 250px;
}

.picker {
    position: relative;
    right: -40px;
}

.coutry {
    padding-left: 20px;
    margin: 20px;

}

.select_popup_country {
    width: 330px;
}

.cv_success {
    position: absolute;
    margin-top: -30px;
    right: 0px;
    color: #33a5a5;
}

.error_message_cli {
    text-align: center;
    margin-top: 200px;
}

.error_message {
    text-align: center;
}

/*POPUP PICTURE*/
.size_image {
    text-align: center;
    margin-top: 20px;
    font-size: 24.72px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    font-weight: bold;
    font-style: italic;
}

.name_picture {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 24.72px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(29, 156, 156);
    font-weight: bold;
    font-style: italic;
}

.name_photo {
    color: rgb(29, 156, 156);
}

.btn_pic {
    background: #1d9c9c;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px #6bbdbd;
    margin: 5px;
    display: inline-grid;
    width: 130px;
    height: 35px;
    font-size: 22.58px;
    font-family: 'MuseoSans', sans-serif;
    cursor: pointer;
}

/*SEE PROFILE*/
.back_profile {
    position: relative;
    position: absolute;
    right: 0px;
    top: 60px;
    font-size: 17px;
    font-family: 'MuseoSans', sans-serif;
    color: white;
    background-color: #1d9c9c;
    width: 200px;
    height: 32px;
    cursor: pointer;
}

.arrow_back {
    position: absolute;
    background: url(../images/icon/arrow.png) no-repeat scroll 0 0 / 100% 100%;
    height: 10px;
    width: 20px;
    left: 13px;
    top: 11px;
}

.name_back {
    position: absolute;
    margin-left: 40px;
    bottom: 4px;
}

.vacation_title_see {
    position: absolute;
    font-size: 24px;
    font-family: 'MuseoSans', sans-serif;
    color: rgb(249, 249, 249);
    font-style: italic;
    top: 30px;
    left: 32px;
}

.vacation_see {
    color: #125e5e;
}

.main_sidebar > button {
    color: green;
}

.main_sidebar > ul {
    margin-bottom: 10px;
    margin-left: 10px;
    list-style: none;
    font-size: 29px;
    height: 360px;

}


.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.w-50 {
    width: 50% !important;
}

.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #1d9c9c !important;
    border: 1px solid #1d9c9c;
    padding: 5px 10px;
}

.star_skill {
    line-height: 1px;
    display: inline-table;
    font-size: 25px;
    margin-top: 8px;
    text-align: center;
    float: right;
}

.center_skill {
    font-size: 19.35px;
    font-family: 'MuseoSans', sans-serif;
    color: white !important;
    float: right;

}

.display_skill div.col-sm-5 {
    padding-left: 0px;
    padding-right: 0px;
}

.display_skill div.col-sm-7 {
    padding-left: 0px;
    padding-right: 0px
}

#page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.li_tab a {
    font-size: 30px;
}

.profile_manaty > div {
    margin-left: 265px;
}

.profile_manaty > div.col-5 {
    width: 40%;
    float: left;
}

.profile_manaty > div.col-7 {
    width: 60%;
    float: left;
}

.boder_header {
    height: 100px;
    border-bottom: 3px solid #c0c0c0;
    width: 94%;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    z-index: 6;
}

.col-sm-7 {
    width: 58.33333333%;
}

.col-sm-5 {
    width: 41.66666667%;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}

.profile_scoll > div.hideScrollBar::-webkit-scrollbar {
    border-radius: 5px;
    width: 17px;
    background-color: #67e5e5;
}

.star_skill div.dv-star-rating label {
    cursor: auto !important;
}

.star div.dv-star-rating label {
    cursor: auto !important;
}

.infomation > a {
    color: white;
}

.calendar_profile td {
    cursor: auto;
}


