.dhx_grid-sort-icon {
    position: relative !important;
}

.dhx_pivot-container {
    max-width: 1620px;
    justify-content: center;
    margin-left: 230px;
    height: 100%;
}
.dhx_pivot-container_widget {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.dhx_checkbox__visual-input {
    position: relative !important;
}

.dhx_label, .dhx_value  {
    margin-left: 10px !important;
}
