
.dhx_spreadsheet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    justify-content: center;
    width: 85%;
    margin-left: 235px;
    margin-top: 37px;
    height: 94%;
}
.dhx_spreadsheet-container_widget {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}