
.vautl_container{
    box-sizing: border-box;
    margin: 100px auto 0 auto;
    margin-top: -250px;
}

.dhx-dropable-area {
    margin-left: 100px !important;
}

.vault.dhx_widget {
    margin-left: -100px !important
}

.vault-layout.dhx_cell.layout_y {
    width: 1360px !important;
    margin-left: 250px !important;
}

.vault-layout {
    height: 80% !important;
}
